@model EmployeePortalSystem.Models.Award

@{
    ViewData["Title"] = "Confirm Delete";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<div class="container">
    <div class="empmaster_card">
        <div class="del_emp">
            <h3>Are you sure you want to delete award: <b>@Model.Type</b>?</h3>

            <div class="employee_deletion">
                <div class="left_del">
                    <form asp-action="Delete" method="post">
                        <!-- NOT DeleteConfirmed -->
                        <input type="hidden" name="id" value="@Model.AwardId" />
                        <button type="submit" class="del_button">Delete</button>
                    </form>
                </div>
                <div class="right_cancel">
                    <form asp-action="Index" method="get">
                        <button type="submit" class="cancel_button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>