@model EmployeePortalSystem.ViewModels.EmployeeInsertionViewModel

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<div class="container">
    <div class="page-contents">

        <div class="container_emp">
            <div class="emp_btn">
                <div class="left_btn">
                    <form method="get" asp-action="EmployeeDetails" asp-controller="Employee">
                        <button type="submit" class="create_emp_btn">Back</button>
                    </form>
                </div>
            </div>
            <div class="emp_head">
                <h2>Employee Master</h2>
            </div>
        </div>

        <div class="container_emp mb-20">
            <div class="empmaster_card">
                <form asp-action="EmployeeInsertion" asp-controller="Employee" method="post" enctype="multipart/form-data" class="emp_form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form_row">
                        <div class="form_group">
                            <input type="hidden" asp-for="Employee.EmployeeId" />

                            <label>Name<span class="imp_field">*</span></label>
                            <div class="val">
                            <input asp-for="Employee.Name" type="text" placeholder="Enter the Employee Name here" class="form-control" />
                            <span asp-validation-for="Employee.Name" class="text-danger"></span>
                            </div>
                           
                        </div>
                        <div class="form_group">
                            <label>Email<span class="imp_field">*</span></label>
                            <div class="val">
                            <input asp-for="Employee.Email" type="email" placeholder="Enter the Email of the Employee" class="form-control" />
                            <span asp-validation-for="Employee.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form_row">
                        <div class="form_group">
                            <label>Phone<span class="imp_field">*</span></label>
                            <div class="val">
                                <input asp-for="Employee.Phone" type="tel" placeholder="Enter the Phone number of the Employee" class="form-control" />
                            <span asp-validation-for="Employee.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form_group">
                            <label>Designation<span class="imp_field">*</span></label>
                            <div class="val">
                                <select asp-for="Employee.RoleId" asp-items="@(new SelectList(Model.Roles, "RoleId", "RoleName"))" class="form-control">
                                <option value="" disabled selected hidden>Select Designation</option>
                            </select>

                            <span asp-validation-for="Employee.RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form_row">
                        
                        <div class="form_group">
                            <label>Department<span class="imp_field">*</span></label>
                            <div class="val">
                                <select asp-for="Employee.DepartmentId" asp-items="@(new SelectList(Model.Departments, "DepartmentId", "Name"))" class="form-control">
                                <option value="" disabled selected hidden >Select Department</option>
                            </select>
                            <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form_group">
                            <label>Role</label>
                           
                                <select name="Role" class="form-control">
                                    <option value="" disabled selected hidden>Choose the role of the employee</option>
                                    @if (Model.Employee.IsAdmin)
                                    {
                                        <option value="Admin" selected>Admin</option>
                                        <option value="Employee">Employee</option>
                                    }
                                    else
                                    {
                                        <option value="Admin">Admin</option>
                                        <option value="Employee" selected>Employee</option>
                                    }
                                </select>
                            
                        </div>

                    </div>
                    <div class="form_row">
                        <div class="form_group">
                            
                            <label>Photo</label>
                            <div class="photo_edit">
                            <input name="Photo" type="file" accept=".png, .jpg, .jpeg" placeholder="Recent Photo of the Employee" class="form-control" />
                            @if (!string.IsNullOrEmpty(Model.Employee.Photo))
                            {
                                <div class="photo-preview">
                                    <img src="~/uploads/@Model.Employee.Photo" alt="Employee Photo" class="employee-photo-frame" />
                                </div>
                            }
                            </div>
                        </div>

                    </div>
                    

                    

                    <div class="form_row">
                        <button type="submit" class="custom-button">Save</button>
                        <button type="reset">Cancel</button>
                    </div>
                    @if (TempData["Message1"] != null) 
                     { 
                        <div class="alert-success"> 
                             @TempData["Message1"] 
                         </div> 
                     }
                </form>
            </div>
        </div>

        

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
