@model EmployeePortalSystem.ViewModels.SignUpViewModel
@{
    ViewData["Title"] = "Signup / Reset Password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" />
</head>
<body>
    <header class="login_header">
        <div class="container">
            <nav>
                <div class="nav_logo">
                    <img src="~/img/ai_2.png" alt="Logo" />
                </div>
            </nav>
        </div>
    </header>

    <div class="background_section">
        <div class="login_card">
            <div class="login_image">
                <img src="~/img/login illustration.png" alt="Illustration" />
            </div>
            <div class="login_form">
                <form asp-action="Signup" asp-controller="UserAccess" method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" maxlength="100" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">New Password</label>
                        <input asp-for="Password" class="form-control" type="password" maxlength="100" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" maxlength="100" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="button_group">
                        <button type="submit" class="login-btn">Submit</button>
                        <button type="button" class="forgot-btn" onclick="location.href='@Url.Action("Login", "UserAccess")'">Back to Login</button>

                    </div>

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert-error" style="margin-top: 10px;">@ViewBag.ErrorMessage</div>
                    }
                    @* @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert-success" style="margin-top: 10px;">@ViewBag.SuccessMessage</div>
                    } *@

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="back_footer">
            <p>©2023 SMRT. All Rights Reserved | Developed by Alnsurtech</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
